
<ol class="breadcrumb">
  <li class="active"><span class="glyphicon glyphicon-play"></span></li>
</ol>


<div class="HomePageWrapper">
	<div class="HomeTitle">
		<h1 class="title">WOMEN IN THE BLACK ARTS MOVEMENT</h1>
		<p class="subtitle">An Electronica Cultural Repository of Selected Art and Literature...</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
					<div class="thumbnail">Black Arts Movement History</div>
					<div class="thumbnail">Relevant Books, Essays, Articles</div>
					<div class="thumbnail">Links</div>
					<div class="thumbnail"><a href="http://www.howard.edu">Howard University</a></div>
				</div>
  			<div class="col-md-8"><div id='map' class="well"></div></div>
		</div>
	</div>

	<div style='display:none;'>
		<p><a class="group1" href="/assets/Bambara 3.png">Grouped Photo 1</a></p>
		<p><a class="group1" href="/assets/Catlett 3.png">Grouped Photo 2</a></p>
		<p><a class="group1" href="/assets/Hughes 3.png">Grouped Photo 2</a></p>
		<p><a class="group1" href="/assets/Robeson 3.png">Grouped Photo 2</a></p>
		<p><a class="group1" href="/assets/Du Bois3.png">Grouped Photo 2</a></p>
	</div>


	<script type="text/javascript">
			//For sound playback
	var mySound = new buzz.sound( "/assets/Memo", {
    	formats: [ "wav", "mp3"]
	});
	mySound.play()
    	.fadeIn()

    //To toggle play and pause button
    if ( !mySound.isEnded() ) {
    	$( ".glyphicon-play" ).click(function() {
  			mySound.togglePlay()
  			$('.glyphicon-play').toggleClass('glyphicon-pause')
		});
	} 
	</script>


</div>