
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Los Angeles</li>
</ol>

<div class="HomePageWrapper">

<div class="HomeTitle">
		<h1 class="title">WOMEN IN THE BLACK ARTS MOVEMENT</h1>
		<p class="subtitle">An Electronica Cultural Repository of Selected Art and Literature...</p>
	</div>
</div>

<div class="row">
 <%#=<p class="col-md-offset-2">Interview with E.J. Montgomery</p>%>
<div class="losAngeles">

<div class="ejMontgomery">
	<iframe width="740" height="440" src="//www.youtube.com/embed/svkA5emiEuk" frameborder="0" allowfullscreen></iframe>
</div>

</div>
</div>



